<!DOCTYPE html>
<html lang="zxx">

<head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="styles/4-common.css">
     <link rel="stylesheet" href="styles/3-header.css">
     <link rel="stylesheet" href="styles/3-footer.css">
     <link rel="stylesheet" href="styles/6-filters.css">
     <link rel="stylesheet" href="styles/8-places.css">
     <link rel="icon" href="images/icon.png" type="image/png">
     <title>AirBnb Clone</title>
</head>

<body>
     <header>
          <div class="logo">
          </div>
     </header>
     <div class="container">
          <section class="filters">
               <div class="locations">
                    <h3>&nbsp;States&nbsp;</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                         {% for state in states | sort(attribute="name") %}
                         <li>
                              <h2>&nbsp;{{ state.name }}&nbsp;</h2>
                              <ul>&nbsp;
                                   {% for city in cities | sort(attribute="name") -%}
                                   {% if city.state_id == state.id -%}
                                   <li>&nbsp;{{ city.name }}&nbsp;</li>
                                   {%- endif %}
                                   {%- endfor %}
                                   &nbsp;</ul>
                         </li>
                         {% else %}
                         <li>&nbsp;
                              <h1>Not found states</h1>
                              &nbsp;</li>
                         {% endfor %}
                    </ul>
               </div>
               <div class="amenities">
                    <h3>&nbsp;Amenities&nbsp;</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                         {% if amenities -%}
                         {% for amenaty in amenities | sort(attribute="name") %}
                         <li>&nbsp;{{ amenaty.name }}&nbsp;</li>
                         {% endfor %}
                         {% else %}
                         <li>&nbsp;
                              <h1>Not found amenities</h1>
                              &nbsp;</li>
                         {%- endif %}
                    </ul>
               </div>
               <button>
                    Search
               </button>
          </section>

          <section class="places">
               <h1>Places</h1>
               {% for place in places -%}
               <article>
                    <h2>&nbsp;{{ place.name }}&nbsp;</h2>
                    <div class="price_by_night">
                         <p>$&nbsp;{{ place.price_by_night }}&nbsp;</p>
                    </div>
                    <div class="information">
                         <div class="max_guest">
                              <div class="guest_image"></div>
                              <p>{{ place.max_guest }}&nbsp;Guests</p>
                         </div>
                         <div class="number_rooms">
                              <div class="bed_image"></div>
                              <p>{{ place.number_rooms }}&nbsp;Room</p>
                         </div>
                         <div class="number_bathrooms">
                              <div class="bath_image"></div>
                              <p>{{ place.number_bathrooms }}&nbsp;Bathroom</p>
                         </div>
                    </div>
                    <div class="user">
                         {% for user in users -%}
                         {% if place.user_id == user.id -%}
                         <p><b>Owner: </b>{{ user.name }}</p>
                         {% else %}
                         <p><b>Owner: </b>Not found owner</p>
                         {%- endif %}
                         {% endfor -%}
                    </div>
                    <div class="description">
                         <p>{{ place.description }}</p>
                    </div>
               </article>
               {% endfor -%}
          </section>
     </div>
     <footer>
          <p>
               Holberton School
          </p>
     </footer>
</body>

</html>